<html>
<head>
  <title>Sparc Food Truck</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="foodTruck">
  <div class="container">
    <section ng-controller="foodTruckController">
      <div class="page-header">
    		<h1>Sparc Food Truck</h1>
    	</div>

      <div class="row">
        <div class="col-md-6" id="foodTruckIcon" ng-class="
          {
            'text-danger': truck.status == 'CANCELLED',
            'text-success': truck.status == 'HERE'
          }
        ">
          <i class="glyphicon glyphicon-cutlery"></i>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-offset-4 col-md-offset-0">
              <p>Name: {{truck.name}} </p>
              <p>Status: {{truck.status}}</p>
            </div>

            <div class="col-sm-offset-4 col-md-offset-0">
              <button class="btn btn-success" ng-click="alertTruck()">Truck is Here</button>
              <button class="btn btn-danger" ng-click="cancelTruck()">Truck Cancelled</button>
              <button class="btn btn-primary" ng-click="resetTruck()">Reset Truck</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-center">

      </div>
    </section>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
